
#reader button{
  background-color: brown;
  padding: 20px 40px;
  border-radius: 10px;
  
}

#reader img{
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

thead, tfoot {
  background: #333;
  color: white;
}

th, td {
  text-align: left;
  padding: 16px;
}

tbody tr:nth-child(even) {
  background: #f2f2f2;
}